<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app">
      <div style="display: flex; flex-direction: column;">
        <label
          >Selected Template
          <select v-model="currentTemplate">
            <option v-for="(template) in templates" :value="template.id"
              >{{template.name || `Untitled ${template.id}`}}</option
            >
          </select></label
        >
        <label
          >Template Name<input v-model="templates[currentTemplate].name"
        /></label>
        <label
          >Format<textarea
            v-model="templates[currentTemplate].format"
          ></textarea>
        </label>
        <section style="display: flex; flex-direction: column;">
          <div
            v-for="(variable, i) in variables"
            style="display: flex; flex-direction: column;"
          >
            <label>Variable Name<input v-model="variable.name" /></label>
            <label
              >Variable Query<textarea v-model="variable.query"></textarea>
            </label>
            <button v-on:click="removeVariable(i)">Remove</button>
          </div>
        </section>

        <button v-on:click="addVariable">Add variable</button>
        <button v-on:click="addTemplate">Add template</button>
        <button
          v-on:click="deleteTemplate(currentTemplate)"
          :disabled="currentTemplate === 0"
        >
          Delete current template
        </button>
        <button v-on:click="clipIt">Clip it!</button>
      </div>
    </div>
    <script src="../Vue_v2.6.11.js"></script>
    <script src="script.js"></script>
  </body>
</html>
